{% extends "base.html" %} {% block content %}
<div class="cart" style="padding-left:100px ; padding-top: 100px;">


    <h3 style="padding-left:900px ;"><b>{{user}}<i class="fa fa-user" aria-hidden="true"></i> </b></h3>
    <hr style="border:1px solid black ; margin: 20px 10px;">

    <h3>
        <pre><strong>ID: </strong>{{clint.id}}</pre>
        <pre><strong>Full Name:</strong>{{clint.first_name|capfirst}} {{clint.last_name|capfirst}}</pre>
        <pre><strong>Phone: </strong>{{clint.phone}}</pre>
        <pre><strong>Tall: </strong>{{clint.tall}}</pre>
        <pre><strong>Wight: </strong>{{clint.wight}}</pre>
        <pre><strong>Address: </strong>{{clint.address}}</pre>
        <pre><strong>Category: </strong>{{clint.category}}</pre>
        <pre><strong>Date: </strong>{{clint.created_at}}</pre>
    </h3>
    <a href="{% url 'edit' clint.id %}" class="btn btn-outline-primary btn-sm">Update <i class="fa fa-wrench" aria-hidden="true"></i></a>
    <a style="background-color: red;"  href="{% url 'delete' clint.id %}" onclick="return confirm('Are you sure to delete this clint?');" class="btn btn-outline-primary btn-sm">Delete <i class="fa fa-trash" aria-hidden="true"></i></a>

</div>


{% endblock content %}